<%= form_tag @currencies, method: 'get' do %>

  <div class="form-group">
    <%= select_tag @currencies,
        options_for_select(Listing::CURRENCY) %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

<% end %>

<% if @listings.present? %>
  <ul class="list-group">
    <% @listings.each do |listing| %>
      <li class="d-flex list-group-item flex-row align-items-center">
        <div class="p-2">
            <%= image_tag(listing['photos'].first['_links']['thumbnail']['href'] )%>
        </div>
        <h2 class="p-2">
            <%= listing['title'] %>
        </h2>

        <h2>
          <%= listing['buyer_price']['display'] %>
        </h2>

      </li>
    <% end %>
  </ul>
<% end %>
